<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="alreadyTrail" value="true" />
        <option name="expireNotifyDate" value="1676441401952" />
        <option name="maxMeetContext" value="365" />
        <option name="trailKey" value="free37fed07f71e54b8fa7b80b573330451f" />
        <option name="useD1" value="1676441401952" />
        <option name="useFreeVersion" value="true" />
      </Profile>
    </option>
  </component>
</application>